[Unit]
Description=Check Carleton courses approximately every five minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=5min
AccuracySec=15s
RandomizedDelaySec=20s
Unit=carleton-watch.service

[Install]
WantedBy=timers.target
